body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
}

.input-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

input {
    padding: 5px;
    width: 80px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.main   {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.feedback { 
    background: #4285F4; 
    color: white; 
    border: none; 
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 5px;
    cursor: pointer; 
    margin-top: 0%; 
}
.feedback:hover {
    background: #357ae8; 
}

.main:hover {
    background-color: #218838;
}

.loading {
    display: none;
    font-size: 14px;
    color: #333;
    font-style: italic;
}
